.pokemon {
    width: 100%;
    max-width: 350px;
    border-radius: 0.8em;
    overflow: hidden;
    border: 0.5em solid rgb(180, 180, 180);
    transition: transform 100ms ease;
    display: inline-block;
    margin: 0 12px 0 12px;
    justify-content: space-between;
    justify-content: center;
    margin-top: 1.5rem;
}

.pokemon:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.pokemon__header {
    background-color: rgb(180, 180, 180);
    height: 180px;
    position: relative;
}

.pokemon__sprite {
    width: 60%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.pokemon__body {
    padding: 1em;
    padding-top: 50px;
}

.pokemon__name {
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
}

.pokemon__types {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.pokemon__type-specific {
    text-transform: capitalize;
    position: relative;
}

.pokemon__type-specific:nth-child(2) {
    position: relative;
}

.pokemon__type-specific:nth-child(2)::before {
    content: "/";
    position: absolute;
    left: -1em;
}

.pokemon__type-specific:nth-child(3) {
    position: relative;
}

.pokemon__type-specific:nth-child(3)::before {
    content: "/";
    position: absolute;
    left: -1em;
}

.pokemon__stats {
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-size: 0.6rem;
    row-gap: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.pokemon__stats-specific {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

.pokemon__stats-label {
    font-weight: 200;
    text-transform: uppercase;
}

.pokemon__stats-value {
    font-size: 1rem;
}

/*Aplicar Colores  */
.bg-grass {
    background-image: linear-gradient(
        178.92deg,
        #7ec6c5 0.92%,
        #abdac6 47.96%,
        #cae099 99.08%
    );
}

.bg-water {
    background-image: linear-gradient(
        179.57deg,
        #133258 -70.14%,
        #1479fb 56.16%,
        #82b2f1 214.85%
    );
}

.bg-fire {
    background-image: linear-gradient(
        176.37deg,
        #f96d6f -32.26%,
        #e35825 22.55%,
        #e8ae1b 125.72%
    );
}

.bg-normal {
    background-image: linear-gradient(
        181.51deg,
        #735259 -6.44%,
        #bc6b7c 121.95%,
        #7c3f4c 186.11%
    );
}

.bg-poison {
    background-image: linear-gradient(
        177.03deg,
        #5b3184 -11.97%,
        #a564e3 71.28%,
        #ce9bff 135.64%
    );
}

.bg-rock {
    background-image: linear-gradient(
        177.03deg,
        #7e7e7e -11.97%,
        #8d8d94 57.49%,
        #d3d3d3 135.64%
    );
}

.bg-electric {
    background-image: linear-gradient(
        176.37deg,
        #e8ae1b -50.72%,
        #ffff00 122.55%,
        #eee458 -32.26%
    );
}

.bg-fighting {
    background-image: linear-gradient(
        176.83deg,
        #96402a -8.78%,
        #f1613c 169.09%,
        #cb735d 242.33%
    );
}

.bg-bug {
    background-image: linear-gradient(
        177.56deg,
        #62db60 -58.92%,
        #3bb039 16.57%,
        #aaffa8 209.53%
    );
}

.bg-ghost {
    background-image: linear-gradient(
        177.03deg,
        #323569 -11.97%,
        #454aa8 57.49%,
        #787dda 135.64%
    );
}

.bg-steel {
    background-image: linear-gradient(
        179.75deg,
        #5e736c -19.96%,
        #728881 43.67%,
        #a8a8a8 138.4%
    );
}

.bg-ice {
    background-image: linear-gradient(
        177.03deg,
        #6fbedf -11.97%,
        #64cbf5 47.77%,
        #bdebfe 136.72%
    );
}

.bg-dark {
    background-image: linear-gradient(
        177.03deg,
        #030706 -11.97%,
        #0d1211 57.49%,
        #5a5e5d 135.64%
    );
}
.bg-ground {
    background-image: linear-gradient(
        179.75deg,
        #654008 -19.96%,
        #895c1a 43.67%,
        #d69638 138.4%
    );
}

/* Color de la fuente */
.color-grass {
    color: #158555;
}

.color-fire {
    color: #d94f1d;
}

.color-water {
    color: #194d8b;
}

.color-normal {
    color: #ad586a;
}

.color-poison {
    color: #a564e3;
}

.color-electric {
    color: #949412;
}

.color-fighting {
    color: #96402a;
}
.color-bug {
    color: #3bb039;
}
.color-ghost {
    color: #454aa8;
}
.color-steel {
    color: #728881;
}
.color-ice {
    color: #6fbedf;
}
.color-dark {
    color: #0d1211;
}
.color-ground {
    color: #895c1a;
}

/* Color de los bordes*/
.border-grass {
    border-color: #abdac6;
}

.border-fire {
    border-color: #f06e3f;
}

.border-water {
    border-color: #347cd4;
}

.border-normal {
    border-color: #b97484;
}

.border-poison {
    border-color: #8449bb;
}
.border-electric {
    border-color: #ebb224;
}
.border-fighting {
    border-color: #9b4d3a;
}
.border-bug {
    border-color: #63bd61;
}
.border-ghost {
    border-color: #5a61dd;
}
.border-steel {
    border-color: #728881;
}
.border-ice {
    border-color: #64cbf5;
}
.border-dark {
    border-color: #0d1211;
}
.border-ground {
    border-color: #c59041;
}
